
body {
    height:100%;
    margin: 0px;
    padding: 0px;
	font: normal 0.8em Arial, Helvetica, sans-serif;
    background: url(../images/bg-clouds.png) no-repeat;
    background-color: rgb(192,222,237);
}

a {
    color: rgba(0, 132, 180, 0.85);
}

ul, li {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

/*****************************
 * Public timeline drilldown *
 *****************************/
#public_timeline_drilldown > header{
    position:fixed;
    left:0px;
    right:0px;
    top:0px;
    width:100%;    
    background-color: #b0bccd;
    background-image: -webkit-gradient(linear, left top, left bottom,
        from(#b0bccd),
        color-stop(0.5, #889bb3),
        color-stop(0.5, #8195af),
        to(#6d84a2));
    background-image: -moz-linear-gradient(top, #b0bccd, #889bb3 50%, #8195af 50%, #6d84a2);
    padding: 10px 10px;
    text-align: center;
    font: bold 1.4em Helvetica, Arial, Sans-serif;
    color: #fff;
    letter-spacing: -1px;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
    margin: 0px;
}

#public_timeline_drilldown > section {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
}

#public_timeline_drilldown > footer {
    position:fixed;
    left:0px;
    right:0px;
    bottom:0px;
    width:100%;    
    background-color: #b0bccd;
    background-image: -webkit-gradient(linear, left top, left bottom,
        from(#b0bccd),
        color-stop(0.5, #889bb3),
        color-stop(0.5, #8195af),
        to(#6d84a2));
    background-image: -moz-linear-gradient(top, #b0bccd, #889bb3 50%, #8195af 50%, #6d84a2);
    padding: 10px 10px;
    text-align: center;
    font: bold 1.4em Helvetica, Arial, Sans-serif;
    color: #fff;
    letter-spacing: -1px;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
    margin: 0px;
}

/**********
 * Tweets *
 **********/

#tweets li {
    padding: 3px;
    margin: 3px;
}

/*********
 * Tweet *
 *********/

#tweet {
    padding: 10px;
    
    color: rgba(4, 101, 154, 0.6);
    background: rgba(255, 255, 255, 0.15);
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
    
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
    background:-webkit-gradient(linear,left bottom,left top,color-stop(0.42, rgba(255,255,255,0.50)),color-stop(0.93, rgba(232,232,232,0.50))) no-repeat;
    background:-moz-linear-gradient(center bottom,rgb(255,255,255,0.50) 42%,rgb(232,232,232,0.50) 93%) no-repeat;
    
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    display: -moz-box;
    -moz-box-orient: horizontal;
    display: box;
    box-orient: horizontal;
}

#tweet aside div {
    height: 100%;
    padding: 5px;
    margin: 5px;
    background-color:rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(4, 101, 154, 0.6);
}

#tweet aside div img{
    max-height:50px;
}

#tweet_details {
}
    
#tweet_user_screen_name{
    font: bold 0.9em "Lucida Console", Monaco, monospace;
}

#tweet section footer{
    font: normal 0.6em Arial, Helvetica, sans-serif;
}