
body {
    height:100%;
    margin: 0px;
    padding: 0px;
	font: normal 1em Arial, Helvetica, sans-serif;
    background: url(bg.png) no-repeat;
    /*background:-webkit-gradient(linear,left bottom,left top,color-stop(0.42, rgb(142,193,218)),color-stop(0.67, rgb(192,222,237))) no-repeat;
    background:-moz-linear-gradient(center bottom,rgb(142,193,218) 42%,rgb(192,222,237) 67%) no-repeat;*/
    background-color: rgb(192,222,237);
}

ul, li {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

#tweets li {
    padding: 3px;
    margin: 3px;
}

#tweet {
    padding: 10px;
    
    color: #fff;
    background: rgba(255, 255, 255, 0.15);
    
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
    
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    display: -moz-box;
    -moz-box-orient: horizontal;
    display: box;
    box-orient: horizontal;
}

#tweet section{
}

#tweet aside div {
    height: 100%;
    padding: 5px;
    margin: 5px;
    border: 1px solid #ddd;
}

#tweet_details {
}
    
#tweet_user_screen_name{
    color: rgba(255, 255, 255, 0.75);
    font: bold 0.8em "Lucida Console", Monaco, monospace;
}

#tweet_user_name{
    font: normal 0.8em Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.75);
}

#tweet_text{    
    font: normal 0.8em Arial, Helvetica, sans-serif;
}

#tweet section footer{
    font: normal 0.6em Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.5);
}